.nav-tabs {
  background-color: rgba(62, 195, 218, 0.4);
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;

}

.nav-tabs a {
  color: #000000;
}


.nav-tabs a:hover {
  color: #000000;
}


#astrisk {
  color: #FF0000;
}


#verifyLabel {
  font-size: 20px;
}


.check {
  border: 1px solid red;
}

#scrollUp {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FF0000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#scrollUp:hover {
  background-color: #555;
}

#scrollUpv2 {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #FF0000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#scrollUpv2:hover {
  background-color: #555;
}
