
form {
  border: 3px solid #f1f1f1;
  margin-top: 5%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  box-shadow: 3px 5px #888888;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border-radius: 5px;
  box-shadow: 3px 5px #888888;
}

.container {
  padding: 16px;
}

span.pswd {
  float: right;
  padding-top: 16px;
}

@media screen and (max-width: 300px) {
  span.pswd {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
