body {
  background-color: #ECF1F4;
}

.banner {
  position: relative;
  text-align: center;

}


#projectName {
  position: absolute;
  bottom: 2%;
  left: 2%;
  color: #FFFFFF;
  font-size: 32px;
}


.searchBar {
  margin-left: 3%;
  width: 90%;
}

#advSearch a{
  width: 20%;
  font-size: 12px;
  white-space: nowrap;
  color: #0000FF;

}

#advanceSearch {
  display: none;
  margin-left: 15%;
  /* margin-top: 2%; */
}


#advanceSearchBoxes {


}

#searchResults {
    /* margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%; */
    margin: 3% 3% 0% 3%;
}

#searchButtons {
  margin-left: 3%;
}


#loading {
  text-align: center;
}

table td, th {
    border-top: none !important;
}
